In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
height = pd.Series(np.random.normal(175, 5, 5).astype(int),
                  index=['Иванов', 'Петров', 'Сидоров', 'Александров', 'Сергеев'])
height.index.name = 'Фамилия'
# type(height.values)
height

Фамилия
Иванов         179
Петров         175
Сидоров        170
Александров    170
Сергеев        171
dtype: int32

In [28]:
height[0]

179

In [29]:
height['Иванов']

179

In [47]:
matrix = np.random.randint(5, 30, (5, 3))
df = pd.DataFrame(matrix,
                 columns=['Жиры', 'Белки', 'Углеводы'],
                 index=['Хлеб', 'Колбаса', 'Огурцы', 'Помидоры', 'Яблоки']) # Класс
# df['Белки']['Хлеб']
df['Калорийность'] = np.random.randint(100, 400,5)
df

          Жиры  Белки  Углеводы  Калорийность
Хлеб        10     15        29           209
Колбаса     17     19        13           189
Огурцы      10     19        12           342
Помидоры    16     24        17           156
Яблоки       9     20        16           207

In [55]:
# df.rename(columns={'Жиры': '*Жиры'})
df = df.rename(columns={'Жиры': '*Жиры'})

In [56]:
df

          *Жиры  Белки  Углеводы  Калорийность
Хлеб         10     15        29           209
Колбаса      17     19        13           189
Огурцы       10     19        12           342
Помидоры     16     24        17           156
Яблоки        9     20        16           207

In [61]:
df.index = ['*Хлеб', '*Колбаса', '*Огурцы', '*Помидоры', '*Яблоки']
df

           *Жиры  Белки  Углеводы  Калорийность
*Хлеб         10     15        29           209
*Колбаса      17     19        13           189
*Огурцы       10     19        12           342
*Помидоры     16     24        17           156
*Яблоки        9     20        16           207

In [90]:
height = pd.Series(np.random.normal(175, 5, 5).astype(int),
                  index=['Иванов', 'Петров', 'Сидоров', 'Александров', 'Сергеев'])
weight = pd.Series(np.random.normal(175, 5, 5).astype(int),
                  index=['Петров', 'Сидоров', 'Иванов', 'Сергеев', 'Степанов'])

df = pd.DataFrame({'Рост': height, 'Вес': weight})
df['ИМТ'] = df['Вес'] / ((df['Рост'] / 100) ** 2)
# df = df.fillna('Отсутствует')
# df = df.fillna(0)
df

              Рост    Вес        ИМТ
Александров  165.0    NaN        NaN
Иванов       175.0  181.0  59.102041
Петров       178.0  171.0  53.970458
Сергеев      172.0  180.0  60.843699
Сидоров      168.0  167.0  59.169501
Степанов       NaN  164.0        NaN

In [91]:
df.notna()

              Рост    Вес    ИМТ
Александров   True  False  False
Иванов        True   True   True
Петров        True   True   True
Сергеев       True   True   True
Сидоров       True   True   True
Степанов     False   True  False

In [87]:
df['Вес'].fillna(df['Вес'].mean())

Александров      0.0
Иванов         166.0
Петров         177.0
Сергеев        176.0
Сидоров        163.0
Степанов       174.0
Name: Вес, dtype: float64

In [85]:
df.dropna()

          Рост    Вес        ИМТ
Иванов   189.0  189.0  52.910053
Петров   180.0  176.0  54.320988
Сергеев  170.0  183.0  63.321799
Сидоров  170.0  175.0  60.553633

In [93]:
matrix = np.random.randint(5, 30, (5, 3))
df = pd.DataFrame(matrix,
                 columns=['Жиры', 'Белки', 'Углеводы'],
                 index=['Хлеб', 'Колбаса', 'Огурцы', 'Помидоры', 'Яблоки']) # Класс
# df['Белки']['Хлеб']
df['Калорийность'] = np.random.randint(100, 400,5)
df

          Жиры  Белки  Углеводы  Калорийность
Хлеб        23      6         8           368
Колбаса     27     22         7           183
Огурцы      25     22        25           221
Помидоры    17     24        11           169
Яблоки      21     19         5           205

In [94]:
df.to_csv('E:/test.csv')

In [95]:
df.to_excel('E:/test.xlsx')

In [96]:
df.to_json('E:/test.json')

In [105]:
df.to_html('E:/test.html')

In [3]:
pd.read_json('E:/test.json')

ValueError: Expected object or value

In [4]:
pd.read_excel('E:/test.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'E:/test.xlsx'

In [5]:
pd.read_csv('E:/test.csv', index_col=0)

FileNotFoundError: [Errno 2] No such file or directory: 'E:/test.csv'

In [121]:
_ = df[(df['Белки'] >= 15) & (df['Жиры'] <= 20)]

In [120]:
_

          Жиры  Белки  Углеводы  Калорийность
Помидоры    17     24        11           169
Яблоки      21     19         5           205

In [122]:
planets = sns.load_dataset('planets')

In [126]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [129]:
planets['mass'].describe()

count    513.000000
mean       2.638161
std        3.818617
min        0.003600
25%        0.229000
50%        1.260000
75%        3.040000
max       25.000000
Name: mass, dtype: float64

In [130]:
planets['method'].unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [131]:
planets['method'].value_counts()

Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: method, dtype: int64

In [145]:
grouped = planets.groupby(['method', 'year']).count()
# grouped.count().head(40)
# grouped.max()

In [148]:
grouped.loc['Imaging']['distance']

year
2004    3
2005    1
2006    2
2007    1
2008    6
2009    3
2010    5
2011    2
2012    2
2013    7
Name: distance, dtype: int64

In [149]:
planets.groupby('method')['distance'].agg(['min', 'max', 'mean'])

                                   min      max         mean
method
Astrometry                       14.98    20.77    17.875000
Eclipse Timing Variations       130.72   500.00   315.360000
Imaging                           7.69   165.00    67.715937
Microlensing                   1760.00  7720.00  4144.000000
Orbital Brightness Modulation  1180.00  1180.00  1180.000000
Pulsar Timing                  1200.00  1200.00  1200.000000
Pulsation Timing Variations        NaN      NaN          NaN
Radial Velocity                   1.35   354.00    51.600208
Transit                          38.00  8500.00   599.298080
Transit Timing Variations       339.00  2119.00  1104.333333

In [153]:
planets.groupby('method')['distance'].describe().sort_values('max')

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,17.875000,4.094148,14.98,16.4275,17.875,19.3225,20.77
Imaging,32.0,67.715937,53.736817,7.69,22.1450,40.395,132.6975,165.00
Radial Velocity,530.0,51.600208,45.559381,1.35,24.4125,40.445,59.2175,354.00
Eclipse Timing Variations,4.0,315.360000,213.203907,130.72,130.7200,315.360,500.0000,500.00
Orbital Brightness Modulation,2.0,1180.000000,0.000000,1180.00,1180.0000,1180.000,1180.0000,1180.00
Pulsar Timing,1.0,1200.000000,NaN,1200.00,1200.0000,1200.000,1200.0000,1200.00
Transit Timing Variations,3.0,1104.333333,915.819487,339.00,597.0000,855.000,1487.0000,2119.00
Microlensing,10.0,4144.000000,2076.611556,1760.00,2627.5000,3840.000,4747.5000,7720.00
Transit,224.0,599.298080,913.876990,38.00,200.0000,341.000,650.0000,8500.00
Pulsation Timing Variations,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
planets.groupby('method')['distance'].agg(['min', 'max']).sort_values('max')

                                   min      max
method
Astrometry                       14.98    20.77
Imaging                           7.69   165.00
Radial Velocity                   1.35   354.00
Eclipse Timing Variations       130.72   500.00
Orbital Brightness Modulation  1180.00  1180.00
Pulsar Timing                  1200.00  1200.00
Transit Timing Variations       339.00  2119.00
Microlensing                   1760.00  7720.00
Transit                          38.00  8500.00
Pulsation Timing Variations        NaN      NaN

In [176]:
fruits = pd.Series(['Яблоко', 'апельсин', 'БАНАН', 'ГрЕйПфрут'])
fruits.apply(lambda x : x.lower())

0       яблоко
1     апельсин
2        банан
3    грейпфрут
dtype: object

In [177]:
fruits = pd.Series(['Яблоко', 'апельсин', 'БАНАН', 'ГрЕйПфрут'])
df = pd.DataFrame(fruits, columns=['fruits'])
df['new_column'] = df['fruits'].apply(lambda x : x.lower())
df
# fruits.apply(lambda x : x.lower())

      fruits new_column
0     Яблоко     яблоко
1   апельсин   апельсин
2      БАНАН      банан
3  ГрЕйПфрут  грейпфрут

In [178]:
df = df.apply(lambda x : x+'!')
df

       fruits  new_column
0     Яблоко!     яблоко!
1   апельсин!   апельсин!
2      БАНАН!      банан!
3  ГрЕйПфрут!  грейпфрут!

In [179]:
numbers = pd.Series(np.random.randn(10))
numbers.apply(np.abs)

0    1.271124
1    1.472434
2    2.284688
3    0.812756
4    0.175937
5    0.751984
6    0.283854
7    1.429643
8    0.514865
9    0.180612
dtype: float64

In [180]:
numbers

0    1.271124
1   -1.472434
2    2.284688
3    0.812756
4    0.175937
5   -0.751984
6    0.283854
7    1.429643
8    0.514865
9    0.180612
dtype: float64

In [182]:
height = pd.Series(np.random.normal(180, 10, 5).astype(int), index=['Иванов', 'Петров', 'Сидоров', 'Александров', 'Сергеев'])
weight = pd.Series(np.random.normal(70, 10, 5).astype(int), index=['Иванов', 'Петров', 'Сидоров', 'Александров', 'Сергеев'])
age = pd.Series(np.random.randint(18, 30, 5), index=['Иванов', 'Петров', 'Сидоров', 'Александров', 'Сергеев'])
health = pd.DataFrame({"Рост": height, "Вес": weight, "Возраст": age})

health['ИМТ'] = health['Вес'] / (health['Рост'] / 100) ** 2

health

             Рост  Вес  Возраст        ИМТ
Иванов        187   84       23  24.021276
Петров        187   76       27  21.733535
Сидоров       172   65       25  21.971336
Александров   170   66       22  22.837370
Сергеев       171   75       20  25.648918

In [187]:
university = pd.Series(np.random.choice(['ТГУ', 'ТПУ', 'ТТИТ'], 5, replace=True), index=['Александров', 'Сергеев', 'Иванов', 'Петров', 'Сидоров'])  # Намерено перепутаем индексы
close_session = pd.Series(np.random.randint(0, 2, 5).astype(bool), index=['Александров', 'Сергеев', 'Иванов', 'Петров', 'Сидоров'])
age = pd.Series(np.random.randint(18, 30, 5), index=['Иванов', 'Петров', 'Сидоров', 'Александров', 'Сергеев'])
education = pd.DataFrame({"УЗ": university, "Закрылся": close_session, "Возраст": age})

education

               УЗ  Закрылся  Возраст
Александров   ТГУ      True       19
Иванов       ТТИТ     False       21
Петров        ТПУ     False       25
Сергеев       ТГУ      True       28
Сидоров       ТГУ      True       21

In [188]:
_ = pd.merge(health, education, left_index=True, right_index=True)
_

             Рост  Вес  Возраст_x        ИМТ    УЗ  Закрылся  Возраст_y
Иванов        187   84         23  24.021276  ТТИТ     False         21
Петров        187   76         27  21.733535   ТПУ     False         25
Сидоров       172   65         25  21.971336   ТГУ      True         21
Александров   170   66         22  22.837370   ТГУ      True         19
Сергеев       171   75         20  25.648918   ТГУ      True         28